.control-scale {
  position: absolute;
  top: 119px;

  display: none;
  width: 100%;
  height: 14px;
  margin-left: 0;
  padding-bottom: 28px;
  overflow: hidden;

  border-bottom: 1px solid #dddfe0;
}

.control-scale__scale {
  position: relative;
  z-index: 1;

  box-sizing: border-box;
  width: 280px;
  margin: 6px auto 0;
  padding-right: 20px;
  padding-left: 20px;
}

.control-scale__bar {
  width: 100%;
  height: 2px;

  background-color: #283645;
}

.control-scale__toggle {
  position: absolute;
  top: -6px;
  left: 14px;
  z-index: 10;

  width: 10px;
  height: 10px;

  background-color: #f2f2f2;
  border: 2px solid #cd2856;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .control-scale {
    position: static;

    display: block;
    margin-bottom: 30px;
  }

  .control-scale__scale {
    width: 275px;
    padding-right: 18px;
    padding-left: 55px;
  }

  .control-scale__toggle--crop {
    left: 202px;
  }

  .control-scale__toggle--fill {
    left: 128px;
  }

  .control-scale__toggle--contrast {
    left: 151px;
  }
}

@media (min-width: $desktop-width) {
  .control-scale__scale {
    width: 410px;
    padding-right: 30px;
    padding-left: 92px;
  }
}
