/*.control-scale {
  text-align: center;
  border-bottom: 1px solid #dddfe0;
  padding-top: 29px;
}

.control-scale__wrap-contrast,
.control-scale__wrap-paint {
  display: none;
}

.control-scale__filter {
  -webkit-appearance: none;
  width: 240px;
  height: 18px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  background-color: transparent;
  outline: none;
  border: none;

  &::-webkit-slider-thumb:active {
    background-color: #d22856;
  }

  &::-moz-range-thumb:active {
    background-color: #d22856;
  }

  &::-ms-thumb:active {
    background-color: #d22856;
  }

  &::-moz-focus-outer {
    border: none;
  }

  &::-webkit-slider-runnable-track {
    height: 2px;
    background-color: #000000;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: content-box;
    width: 11px;
    height: 11px;
    margin-top: -7px;
    border: 2px solid #d22856;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
  }

  &::-moz-range-track {
    -moz-appearance: none;
    width: 240px;
    height: 2px;
    background-color: #ffffff;
    outline: none;
    border: none;
  }

  &::-moz-range-thumb {
    -moz-appearance: none;
    width: 14px;
    height: 14px;
    border: 2px solid #d22856;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
  }

  &::-ms-fill-lower,
  &::-ms-fill-upper {
    background: transparent;
  }

  &::-ms-tooltip {
    display: none;
  }

  &::-ms-track {
    width: 240px;
    height: 0;
    background-color: #ffffff;
    color: transparent;
    border-color: transparent;
  }

  &::-ms-thumb {
    width: 14px;
    height: 14px;
    padding: 0;
    border: 2px solid #d22856;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .control-scale {
    padding-top: 10px;
    text-align: right;
    padding-right: 18px;
    border-bottom: 0;
  }

  .control-scale__wrap {
    border-bottom: 1px solid #dddfe0;
  }

  .control-scale__wrap-contrast,
  .control-scale__wrap-paint {
    display: block;
  }

  .control-scale__filter {
    position: relative;
    width: 202px;
    margin-bottom: 55px;

  }

  .control-scale__filter-1::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -55px;
    width: 27px;
    height: 27px;
    background-image: url("../../img/icon-editor-crop--active-small.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .control-scale__filter-2::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -55px;
    width: 27px;
    height: 27px;
    background-image: url("../../img/icon-editor-fil--active-small.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .control-scale__filter-3::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -53px;
    width: 27px;
    height: 27px;
    background-image: url("../../img/icon-editor-contrast--active-small.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
*/
.control-scale {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 119px;
  width: 100%;
  height: 14px;
  margin-left: 0;
  padding-bottom: 28px;
  border-bottom: 1px solid #dddfe0;
}

.control-scale__scale {
  position: relative;
  width: 280px;
  box-sizing: border-box;
  margin: 6px auto 0;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}

.control-scale__bar {
  height: 2px;
  background-color: #283645;
}

.control-scale__toggle {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  width: 10px;
  height: 10px;
  top: -6px;
  left: 14px;
  background-color: #f2f2f2;
  border: 2px solid #cd2856;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .control-scale {
    position: static;
    display: block;
    margin-bottom: 30px;
  }

}
