.feedback__form {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 15px;
}

.feedback__slogan {
  line-height: 30px;
  text-align: center;

  @include container;
}

.feedback__fill-form {
  display: none;
}

.feedback__field {
  box-sizing: border-box;
  padding-top: 28px;
  padding-right: 0;
  padding-bottom: 30px;
  padding-left: 0;

  border: none;

  @include container;
}

.feedback__items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.feedback__checkbox,
.feedback__radio {
  display: none;
}

.feedback__label {
  line-height: 30px;
}

.feedback__label--caption {
  display: block;
  margin-bottom: 5px;
  padding-left: 23px;

  color: $font-color-headers-bright;
  text-transform: uppercase;
}

.feedback__input,
.feedback__input--text
.feedback__input--tel,
.feedback__input--email {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
  padding-top: 14px;
  padding-right: 22px;
  padding-bottom: 15px;
  padding-left: 22px;

  font-size: 18px;
  line-height: 30px;
  color: $font-color-main;

  border: 2px solid #e5e5e5;
  border-radius: 2px;

  &::-webkit-input-placeholder {
    color: $font-color-main;
  }

  &::-moz-placeholder {
    color: $font-color-main;
  }/* Firefox 19+ */

  &:-moz-placeholder {
    color: $font-color-main;
  }/* Firefox 18- */

  &:-ms-input-placeholder {
    color: $font-color-main;
  }

  &:hover {
    border-color: #283645;
  }

  &:focus {
    border-color: #d22856;
    outline: none;
  }
}

.feedback__background-color {
  background-color: #f2f2f2;
}

.feedback__background-color--mindblow {
  box-sizing: border-box;
  padding-top: 36px;
  padding-bottom: 18px;
}

.feedback__title {
  padding-right: 30px;
  padding-left: 30px;

  line-height: 18px;
  text-align: center;
  color: $font-color-headers-bright;
  text-transform: uppercase;
}

.feedback__item--mindblow {
  padding-bottom: 43px;
}

.feedback__label--checkbox,
.feedback__label--radio {
  position: relative;

  display: inline-block;

  font-size: 18px;
  line-height: 30px;
  vertical-align: middle;

  &::before {
    content: "";

    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 31px;

    vertical-align: middle;

    background-color: white;
    border: 2px solid #e5e5e5;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover::before {
    border-color: #283645;
  }
}

.feedback__label--checkbox::before {
  border-radius: 2px;
}

.feedback__label--radio::before {
  border-radius: 50%;
}

.feedback__icon-yes {
  display: none;
}

.feedback__label--radio::after {
  display: none;
}

.feedback__checkbox + .feedback__label--checkbox:active::before,
.feedback__label--radio:active::before {
  border-color: #d22856;
}

.feedback__checkbox + .feedback__label--checkbox:active .feedback__icon-yes,
.feedback__checkbox:checked + .feedback__label--checkbox .feedback__icon-yes {
  position: absolute;
  top: 9px;
  left: 5px;

  display: block;

  fill: #d22856;
}

.feedback__item--app {
  padding-bottom: 36px;
}

.feedback__radio + .feedback__label--radio:active::after,
.feedback__radio:checked + .feedback__label--radio::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;

  display: block;
  width: 15px;
  height: 15px;

  background-color: #d22856;
  border-radius: 50%;
}

.feedback__field--contact-info {
  padding-bottom: 39px;
}

.feedback__title--close {
  display: none;
}

.feedback__background-color--app {
  box-sizing: border-box;
  min-height: 337px;
  margin-bottom: 58px;
  padding-top: 36px;
}

.feedback__field--emotion {
  padding-top: 10px;
  padding-bottom: 40px;
}

.feedback__textarea-text {
  box-sizing: border-box;
  width: 100%;
  min-height: 201px;
  margin-top: 6px;
  padding-top: 15px;
  padding-right: 21px;
  padding-left: 21px;

  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 128px;
  padding-top: 44px;

  text-align: center;
}

.feedback__submit {
  padding-top: 14px;
  padding-right: 44px;
  padding-bottom: 14px;
  padding-left: 44px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: white;
  text-transform: uppercase;

  background-color: #2aab6d;
  border: 3px solid #2aab6d;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
    border-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    outline: none;
  }

  &:disabled {
    color: white;

    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }
}

.feedback__require {
  line-height: 30px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .feedback__slogan {
    order: 0;
    box-sizing: border-box;
    padding-right: 60px;
    padding-left: 60px;

    font-size: 18px;
  }

  .feedback__fill-form {
    display: inline;
  }

  .feedback__title {
    line-height: 30px;
  }

  .feedback__title--close {
    display: block;
  }

  .feedback__field {
    padding-right: 58px;
    padding-bottom: 52px;
    padding-left: 58px;

    border: 2px solid #e5e5e5;
    border-radius: 2px;
  }

  .feedback__field--input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 52px;

    border: none;
  }

  .feedback__item--input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 52px;
  }

  .feedback__label--caption {
    margin-bottom: 0;
    padding-right: 22px;
    padding-left: 0;
  }

  .feedback__input--text {
    flex-grow: 1;
    width: auto;
    margin-bottom: 0;
  }

  .feedback__background-color--app {
    order: 1;

    background-color: #ffffff;
  }

  .feedback__field--contact-info {
    order: 2;
  }

  .feedback__item--contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3px;
    margin-bottom: 29px;

    &:last-child {
      margin-bottom: 26px;
    }
  }

  .feedback__item--contact-info .feedback__label {
    order: 1;
  }

  .feedback__item--tel,
  .feedback__item--email {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 19px;
      right: 18px;

      width: 20px;
      height: 19px;

      background-image: url("../../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      display: block;
      width: 62px;
      height: 62px;

      background-color: #e5e5e5;
    }
  }

  .feedback__item--email::after {
    background-image: url("../../img/icon-mail.svg");
  }


  .feedback__background-color--mindblow {
    order: 3;

    background-color: #ffffff;
  }

  .feedback__field--emotion {
    order: 4;
    width: 100%;

    @include container;
  }

  .feedback__wrapper--submit {
    order: 5;

    @include container;
  }

  .feedback__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .feedback__submit {
    padding-right: 56px;
    padding-left: 56px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__form {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0;

    @include container;
  }

  .feedback__field {
    box-sizing: border-box;
    width: auto;
    margin: 0;
    padding-top: 20px;
  }

  .feedback__field--input {
    width: 50%;
    padding-right: 35px;
  }

  .feedback__background-color--app {
    width: 50%;
    padding-left: 35px;
  }

  .feedback__field--app {
    flex-shrink: 0;
    width: 100%;
    padding-right: 0;
    padding-bottom: 51px;
    padding-left: 0;
  }

  .feedback__title--app {
    padding-right: 25px;
    padding-left: 25px;
  }

  .feedback__items--app {
    margin-left: 74px;
  }

  .feedback__item--app:first-child {
    padding-top: 22px;
  }

  .feedback__field--contact-info {
    width: 100%;
  }

  .feedback__items--contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feedback__item--contact-info {
    flex-grow: 1;
    margin-top: 8px;
    margin-bottom: 13px;

    &:first-child {
      margin-right: 35px;
    }

    &:last-child {
      margin-bottom: 13px;
      margin-left: 35px;
    }
  }

  .feedback__background-color--mindblow {
    width: 100%;
  }

  .feedback__items--mindblow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &::after {
      content: "";

      width: 257px;
    }
  }

  .feedback__item--mindblow {
    width: 257px;
    margin-bottom: 23px;
    padding-top: 20px;

    &:first-child {
      padding-top: 20px;
    }
  }

  .feedback__field--emotion {
    width: 100%;
    margin-bottom: 65px;
    padding-bottom: 35px;
  }

  .feedback__title--emotion {
    padding-right: 38px;
    padding-left: 38px;
  }
}
