.feedback__form {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 15px;
}

.feedback__slogan {
  @include container;
  line-height: 30px;
  text-align: center;
}

.feedback__fill-form {
  display: none;
}

.feedback__field {
  @include container;
  border: none;
  box-sizing: border-box;
  padding-top: 28px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 30px;
}

.feedback__items {
  padding: 0;
  margin: 0;

  list-style: none;
}

.feedback__checkbox,
.feedback__radio {
  display: none;
}

.feedback__label {
  line-height: 30px;
}

.feedback__label--caption {
  color: $font-color-headers-bright;
  display: block;
  margin-bottom: 5px;
  padding-left: 23px;
  text-transform: uppercase;
}

.feedback__input,
.feedback__input--text
.feedback__input--tel,
.feedback__input--email {
  box-sizing: border-box;

  font-size: 18px;
  line-height: 30px;

  width: 100%;

  border: 2px solid #e5e5e5;
  border-radius: 2px;

  padding-left: 22px;
  padding-right: 22px;
  padding-top: 14px;
  padding-bottom: 15px;
  margin-bottom: 16px;
  color: $font-color-main;

  &::-webkit-input-placeholder {
    color: $font-color-main;
  }

  &::-moz-placeholder {
    color: $font-color-main;
  }/* Firefox 19+ */

  &:-moz-placeholder {
    color: $font-color-main;
  }/* Firefox 18- */

  &:-ms-input-placeholder {
    color: $font-color-main;
  }

  &:hover {
    border-color: #283645;
  }

  &:focus {
    border-color: #d22856;
    outline: none;
  }
}

.feedback__background-color {
  background-color: #f2f2f2;
}

.feedback__background-color--mindblow {
  box-sizing: border-box;
  padding-top: 36px;
  padding-bottom: 18px;
}

.feedback__title {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 18px;
  color: $font-color-headers-bright;
  text-transform: uppercase;
}

.feedback__item--mindblow {
  padding-bottom: 43px;
}

.feedback__label--checkbox,
.feedback__label--radio {
  display: inline-block;
  vertical-align: middle;

  position: relative;

  font-size: 18px;
  line-height: 30px;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;

    width: 35px;
    height: 35px;

    margin-right: 31px;

    background-color: white;
    border: 2px solid #e5e5e5;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover::before {
    border-color: #283645;
  }
}

.feedback__label--checkbox::before {
  border-radius: 2px;
}

.feedback__label--radio::before {
  border-radius: 50%;
}

.feedback__icon-yes {
  display: none;
}

.feedback__label--radio::after {
  display: none;
}

.feedback__checkbox + .feedback__label--checkbox:active::before,
.feedback__label--radio:active::before {
  border-color: #d22856;
}

.feedback__checkbox + .feedback__label--checkbox:active .feedback__icon-yes,
.feedback__checkbox:checked + .feedback__label--checkbox .feedback__icon-yes {
  position: absolute;
  display: block;
  top: 9px;
  left: 5px;

  fill: #d22856;
}

.feedback__item--app {
  padding-bottom: 36px;
}

.feedback__radio + .feedback__label--radio:active::after,
.feedback__radio:checked + .feedback__label--radio::after {
  display: block;
  position: absolute;
  content: "";

  width: 15px;
  height: 15px;

  top: 12px;
  left: 12px;

  background-color: #d22856;
  border-radius: 50%;
}

.feedback__field--contact-info {
  padding-bottom: 39px;
}

.feedback__title--close {
  display: none;
}

.feedback__background-color--app {
  box-sizing: border-box;
  min-height: 337px;
  padding-top: 36px;
  margin-bottom: 58px;
}

.feedback__field--emotion {
  padding-top: 10px;
  padding-bottom: 40px;
}

.feedback__textarea-text {
  width: 100%;
  box-sizing: border-box;
  min-height: 201px;
  margin-top: 6px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 15px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

.feedback__wrapper {
  padding-top: 44px;
  display: flex;
  min-height: 128px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.feedback__submit {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 44px;
  padding-left: 44px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  color: white;

  border: 3px solid #2aab6d;
  border-radius: 3px;
  background-color: #2aab6d;

  &:hover {
    background-color: #1c9b5e;
    border-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
  }

  &:disabled {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    color: white;
  }
}

.feedback__require {
  line-height: 30px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .feedback__slogan {
    font-size: 18px;
    box-sizing: border-box;

    padding-left: 60px;
    padding-right: 60px;

    order: 0;
  }

  .feedback__fill-form {
    display: inline;
  }

  .feedback__title {
    line-height: 30px;
  }

  .feedback__title--close {
    display: block;
  }

  .feedback__field {
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 52px;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
  }

  .feedback__field--input {
    display: flex;
    flex-wrap: wrap;
    border: none;

    align-items: center;

    margin-bottom: 52px;
  }

  .feedback__item--input {
    display: flex;
    flex-wrap: wrap;

    align-items: center;

    margin-bottom: 52px;
  }

  .feedback__label--caption {
    padding-left: 0;
    padding-right: 22px;
    margin-bottom: 0;
  }

  .feedback__input--text {
    flex-grow: 1;
    width: auto;
    margin-bottom: 0;
  }

  .feedback__background-color--app {
    order: 1;
    background-color: #ffffff;
  }

  .feedback__field--contact-info {
    order: 2;
  }

  .feedback__item--contact-info {
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    margin-top: 3px;
    margin-bottom: 29px;

    &:last-child {
      margin-bottom: 26px;
    }
  }

  .feedback__item--contact-info .feedback__label {
    order: 1;
  }

  .feedback__item--tel,
  .feedback__item--email {
    position: relative;

    &::after {
      position: absolute;
      content: "";

      width: 20px;
      height: 19px;
      background-image: url("../../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-size: 20px 19px;
      top: 19px;
      right: 18px;
    }

    &::before {
      position: absolute;
      content: "";
      display: block;

      width: 62px;
      height: 62px;
      background-color: #e5e5e5;
      top: 0;
      right: 0;
    }
  }

  .feedback__item--email::after {
    background-image: url("../../img/icon-mail.svg");
  }


  .feedback__background-color--mindblow {
    background-color: #ffffff;
    order: 3;
  }

  .feedback__field--emotion {
    order: 4;
    width: 100%;
  }

  .feedback__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .feedback__submit {
    padding-left: 56px;
    padding-right: 56px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback__field--input {
    width: 50%;
  }

  .feedback__field--app {
    width: 50%;

    border: 1px solid #000000;
  }

  .feedback__field--contact-info {
    width: 100%;
  }

  .feedback__field--mindblow {
    width: 100%;
  }

  .feedback__field--emotion {
    width: 100%;
  }
}
