.feedback__form {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 15px;
}

.feedback__slogan {
  @include container;
  line-height: 30px;
  text-align: center;
}

.feedback__field {
  @include container;
  border: none;
  box-sizing: border-box;
  padding-top: 28px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 30px;
}

.feedback__items {
  padding: 0;
  margin: 0;

  list-style: none;
}

.feedback__checkbox,
.feedback__radio {
  display: none;
}

.feedback__label {
  line-height: 30px;
}

.feedback__label--caption {
  color: $font-color-headers-bright;
  display: block;
  margin-bottom: 5px;
  padding-left: 23px;
  text-transform: uppercase;
}

.feedback__input {
  box-sizing: border-box;

  font-size: 18px;
  line-height: 30px;

  width: 100%;

  border: 2px solid #e5e5e5;
  border-radius: 2px;

  padding-left: 22px;
  padding-right: 22px;
  padding-top: 14px;
  padding-bottom: 15px;
  margin-bottom: 16px;
  color: $font-color-main;

  &::-webkit-input-placeholder {
    color: $font-color-main;
  }

  &::-moz-placeholder {
    color: $font-color-main;
  }/* Firefox 19+ */

  &:-moz-placeholder {
    color: $font-color-main;
  }/* Firefox 18- */

  &:-ms-input-placeholder {
    color: $font-color-main;
  }

  &:hover {
    border-color: #283645;
  }

  &:focus {
    border-color: #d22856;
    outline: none;
  }
}

.feedback__background-color {
  background-color: #f2f2f2;
}

.feedback__background-color--mindblow {
  box-sizing: border-box;
  padding-top: 36px;
  padding-bottom: 18px;
}

.feedback__title {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 18px;
  color: $font-color-headers-bright;
  text-transform: uppercase;
}

.feedback__item--mindblow {
  padding-bottom: 43px;
}

.feedback__label--checkbox,
.feedback__label--radio {
  display: inline-block;
  vertical-align: middle;

  position: relative;

  font-size: 18px;
  line-height: 30px;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;

    width: 35px;
    height: 35px;

    margin-right: 31px;

    background-color: white;
    border: 2px solid #e5e5e5;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover::before {
    border-color: #283645;
  }
}

.feedback__label--checkbox::before {
  border-radius: 2px;
}

.feedback__label--radio::before {
  border-radius: 50%;
}

.feedback__icon-yes {
  display: none;
}

.feedback__label--radio::after {
  display: none;
}

.feedback__checkbox + .feedback__label--checkbox:active::before,
.feedback__label--radio:active::before {
  border-color: #d22856;
}

.feedback__checkbox + .feedback__label--checkbox:active .feedback__icon-yes,
.feedback__checkbox:checked + .feedback__label--checkbox .feedback__icon-yes {
  position: absolute;
  display: block;
  top: 9px;
  left: 5px;

  fill: #d22856;
}


.feedback__radio + .feedback__label--radio:active::after,
.feedback__radio:checked + .feedback__label--radio::after {
  display: block;
  position: absolute;
  content: "";

  width: 15px;
  height: 15px;

  top: 12px;
  left: 12px;

  background-color: #d22856;
  border-radius: 50%;
}

.feedback__field--contact-info {
  padding-bottom: 39px;
}

.feedback__title--close {
  display: none;
}

.feedback__background-color--app {
  box-sizing: border-box;
  min-height: 337px;
  padding-top: 36px;
  margin-bottom: 58px;
}


@media (min-width: $tablet-width) {
  .feedback__field--input {
    width: 620px;
  }

  .feedback__item {
    display: flex;
    flex-wrap: wrap;
  }

  .feedback__input {
    flex-grow: 1;
    width: auto;
  }

  .feedback__background-color--app {
    order: 1;
  }

  .feedback__field--contact-info {
    order: 2;
  }

  .feedback__background-color--mindblow {
    order: 3;
  }

  .feedback__field--emotion {
    order: 4;
    width: 100%;
  }

  .feedback__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .feedback__form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback__field--input {
    width: 50%;
  }

  .feedback__field--app {
    width: 50%;

    border: 1px solid #000000;
  }

  .feedback__field--contact-info {
    width: 100%;
  }

  .feedback__field--mindblow {
    width: 100%;
  }

  .feedback__field--emotion {
    width: 100%;
  }
}
