.main-nav {
  position: absolute;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: -49px;
}

.main-nav__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  min-height: 67px;
  padding: 0 20px;

  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav__logo {
  position: absolute;
  top: 22px;
}

.main-nav__toggle {
  position: absolute;
  top: 22px;
  right: 20px;
  z-index: 2;

  display: block;
  width: 50px;
  height: 23px;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-nav__wrapper--opened .page-header__burger,
.main-nav__wrapper--closed .page-header__cross {
  display: none;
}

/*
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: $background-main;
  box-shadow: 0 9px 0 0 $background-main, 0 18px 0 0 $background-main;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $menu-button-hover;
  box-shadow: 0 9px 0 0 $menu-button-hover, 0 18px 0 0 $menu-button-hover;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $mobile-menu-button-down;
  box-shadow: 0 9px 0 0 $mobile-menu-button-down, 0 18px 0 0 $mobile-menu-button-down;
}

.main-nav--opened .main-nav__toggle {
  top: 20px;
  right: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 5px;
    border-radius: 2px;
    background-color: $background-main;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
*/

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs {
  position: relative;
}

.main-nav--nojs .main-nav__wrapper {
  background-color: $background-menu;
}

.main-nav__wrapper--opened {
  background-color: $background-menu;
}

@media (min-width: $desktop-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    height: 111px;
  }

  .main-nav__toggle {
    display: none;
  }
}
