.page-header {
  position: relative;

  color: $font-color-top;

  background-color: $background-menu;
}

.page-header__logo-mobile,
.page-header__logo-tablet,
.page-header__logo-desktop {
  transition: 0.3s;

  fill: #ffffff;

  &:hover {
    fill: $menu-logo-hover;
  }

  &:active {
    fill: #ffffff;
    opacity: 0.3;

  }
}

.page-header__cross {
  padding-left: 21px;
}

@media (max-width: $mobile-width-only) {
  .page-header__logo-tablet,
  .page-header__logo-desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo-mobile,
  .page-header__logo-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }
}
