.page-header {
  color: $font-color-top;
  position: relative;
}

.page-header__logo-image {
  width: 75px;
  height: 22px;

  &:hover path {
    fill: $menu-logo-hover;
  }

  &:active path {
    fill: $mobile-menu-logo-down;
  }
}

.page-header__burger:hover path,
.page-header__cross:hover path {
  fill: $menu-button-hover;
}

.page-header__burger:active path,
.page-header__cross:active path {
  fill: $mobile-menu-button-down;
}
