.page-footer {
  padding-top: 20px;
}

.page-footer__map {
  position: relative;

  width: 100%;
  height: 200px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;

    width: 100%;
    height: 33px;

    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 33px;
  }
}

.page-footer--map-loaded {
  z-index: 3;
}

.page-footer--map-loaded::after {
  display: none;
}

.page-footer__contacts-map {
  position: relative;

  width: 100%;
  height: 200px;
  overflow: hidden;
}

.page-footer__image {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;

  transform: translate(-50%, -85%);
}

.page-footer__social-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 40px;

  @include container;
}

.page-footer__social-wrapper--index {
  display: none;
}

.page-footer__logo-glass,
.page-footer__logo-glass--desktop {
  margin-bottom: 37px;

  cursor: pointer;

  fill: #283645;

  &:hover {
    fill: #d22856;
  }

  &:active {
    opacity: 0.3;

    fill: #283645;
  }
}

.page-footer__logo-glass--desktop {
  display: none;
}

.page-footer__HTMLAcademy {
  position: absolute;
  top: 3px;
  right: 0;

  fill: #d22856;

  &:hover {
    fill: #283645;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__developer {
  position: relative;

  padding-top: 10px;
  padding-right: 42px;
}

.page-footer__copyright-link {
  color: #283645;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 15px;
  }

  .page-footer__map {
    height: 373px;

    &::before {
      height: 68px;

      background-size: 100% 68px;
    }
  }

  .page-footer__contacts-map {
    height: 373px;
  }

  .page-footer__image {
    transform: translate(-50%, -63%);
  }

  .page-footer__social-wrapper--index {
    display: block;
  }

  .page-footer__social-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 38px;

    @include container;
  }

  .page-footer__logo-glass {
    padding-top: 17px;
  }

  .page-footer__logo-glass--desktop {
    display: none;
  }

  .page-footer__developer {
    position: relative;

    padding-top: 0;
    padding-right: 42px;
  }

  .page-footer__copyright-link {
    color: #283645;
    text-decoration: none;
  }

  .page-footer__HTMLAcademy {
    position: absolute;
    top: -9px;
    right: 0;

    fill: #d22856;
  }
}


@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 10px;
  }

  .page-footer__map {
    height: 522px;
    margin-bottom: 46px;

    &::before {
      height: 123px;

      background-size: 100% 123px;
    }

    &::after {
      top: 57%;
    }
  }

  .page-footer__contacts-map {
    height: 100%;
  }

  .page-footer__image {
    transform: translate(-50%, -53%);
  }

  .page-footer__social-wrapper {
    padding-top: 10px;
    padding-bottom: 65px;
  }

  .page-footer__logo-glass {
    display: none;
  }

  .page-footer__logo-glass--desktop {
    display: block;
  }

  .page-footer__developer {
    padding-top: 0;
    padding-bottom: 12px;
  }

  .page-footer__copyright-link {
    font-size: 18px;
  }

  .page-footer__HTMLAcademy {
    top: -4px;
  }
}
