.photo-upload__slogan {
  padding-top: 19px;
  padding-bottom: 42px;
  padding-right: 2px;

  line-height: 30px;
  text-align: center;

  @include container;
}

.photo-upload__form-wrapper {
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .photo-upload__form-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .photo-upload__form {
    display: none;
  }

  .photo-upload__control-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
