.photo-upload {
  @include container;
}

.photo-upload__slogan {
  padding-top: 53px;

  font-weight: 400;
  line-height: 30px;
  text-align: center;

  @include container;
}

@media (min-width: $tablet-width) {
  .photo-upload__form-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .photo-upload__form {
    display: none;
  }

  .photo-upload__control-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
