.reviews {
  @include container;
  padding-top: 14px;
}

.reviews__about-author {
  display: none;
}

.reviews__item {
  margin: 0;
  text-align: center;
}

.reviews__author-name {
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
  color: $font-color-headers-dark;
  margin-bottom: 0;
}

.reviews__text {
  line-height: 30px;
  margin-top: 14px;
}

.reviews__prev {
  display: none;
}

.reviews__next {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__about-author {
    display: block;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author-wrapper {
    order: 1;
  }
}
