.reviews {
  @include container;
}

.reviews__about-author {
  display: none;
}

.reviews__item {
  margin: 0;

  text-align: center;
}

.reviews__author-name {
  font-weight: 700;
  font-size: 18px;
  color: $font-color-headers-dark;
}

.reviews__text {
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .reviews__about-author {
    display: block;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author-wrapper {
    order: 1;
  }


}
