.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;

  background-color: $background-menu;
}

.site-list__item {
  box-sizing: border-box;
  padding: 22px 0;

  border-top: 1px solid #000000;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.site-list__item a {
  font-weight: 700;
  font-size: 18px;
  color: $font-color-top;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
  }

  .site-list__item {
    margin-left: 10px;

    border: none;
    box-shadow: none;
  }
}
