.user-photo__slogan {
  padding-top: 53px;

  font-weight: 400;
  line-height: 30px;
  text-align: center;

  @include container;
}

.user-photo__image {
  display: block;

  @include container;
}

.user-photo__image-panorama {
  width: 100%;
}

.user-photo__caption {
  background-color: $background-lightgray;

  @include container;
}

.user-photo__title {
  font-weight: 700;
}

.user-photo__title-light {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.user-photo__comment {
  line-height: 24px;
}

.user-photo__like {
  font-size: 12px;
  line-height: 24px;
  color: $font-color-headers-bright;
  text-transform: uppercase;
}
