.users-photo__slogan {
  padding-top: 53px;

  font-weight: 400;
  line-height: 30px;
  text-align: center;

  @include container;
}

@media (min-width: $tablet-width) {
  .users-photo__inner {
    @include container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
