.users-photo__slogan-wrapper {
  @include container;
}

.users-photo__slogan {
  padding-top: 45px;
  padding-bottom: 48px;
  margin: 0;

  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.users-photo__inner {
  @include container;
}

@media (min-width: $tablet-width) {
  .users-photo__slogan {
    padding-top: 92px;
    padding-bottom: 76px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 30px;
  }

  .users-photo__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include container;
  }
}

@media (min-width: $desktop-width) {
  .users-photo__slogan {
    padding-right: 170px;
    padding-left: 170px;
    padding-bottom: 88px;
  }
}
