@mixin container {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  @mixin container {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  @mixin container {
    width: 940px;
    margin: 0 auto;
  }
}
