$background-main: #ffffff;
$background-darkblue: #1d2631;
$background-lightgray: #f2f2f2;
$font-color-top: #ffffff;
$font-color-main: #283645;
$font-color-headers-dark: #000000;
$font-color-headers-bright: #d22856;
$font-size: 14px;
