$background-main: #ffffff;
$background-darkblue: #1d2631;
$background-menu: #283645;
$background-lightgray: #f2f2f2;
$menu-button-hover:#d22856;
$menu-button-down: rgba(210, 40, 86, 0.3);
$font-color-top: #ffffff;
$font-color-main: #283645;
$font-color-headers-dark: #000000;
$font-color-headers-bright: #d22856;
$font-size: 14px;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
