@import "normalize";
@import "global/variables";
@import "global/mixins";
@import "global/fonts";
@import "global/scaffolding";
@import "blocks/visually-hidden";
@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/site-list";
@import "blocks/introduce";
@import "blocks/download";
@import "blocks/effect";
@import "blocks/users-photo";
@import "blocks/user-photo";
@import "blocks/photo-upload";
@import "blocks/feedback";
@import "blocks/features";
@import "blocks/reviews";
@import "blocks/price";
@import "blocks/contact";
@import "blocks/page-footer";
