@import "normalize.scss";
@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/mixins.scss";
@import "global/body.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-main.scss";

